main{
    
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    max-width: 700px;
    max-height: 450px;
    width: 100%;
    height: 100%;
    background: white;
    border-radius: 12px;    
}
.row{
    display:flex;
    align-items: center;
    justify-content: center;
    padding: 2em;

}
.formulario{
    font-size: 20px;
    align-items: center;
    justify-content: center;
}