{% extends "base.html" %}

{% block content %}
    <h1>Lista de proveedores</h1>
    <td><a href="{% url 'suppliers:createprov' %}" type="button" class="btn btn-secondary">Modificar</a></td>
    <ul>
        
        <table class="table">
            <thead>
              <tr>
                
                <th scope="col">Nombres</th>
                <th scope="col">Email</th>
                <th scope="col">Teléfono</th>
                <th scope="col"></th>
                <th scope="col"></th>

                
              </tr>
            </thead>
            <tbody>
                {% for prov in proveedor %}
                <tr>
                
                <td>{{ prov.first_name }} {{ prov.last_name }}</td>
                <td>{{ prov.email }}</td>
                <td>{{ prov.telephone }}</td>
                <td><a href="{% url 'suppliers:updateprov' prov.pk %}" type="button" class="btn btn-info">Modificar</a></td>
                <td><a href="{% url 'suppliers:deleteprov' prov.pk %}" type="button" class="btn btn-danger">Eliminar</a></td>
                </tr>
                {% endfor %}
            </tbody>
          </table>
            
        
    </ul>

{% endblock %}
